name: Kodi Addon-Check

on: [push, pull_request]

jobs:
  kodi-addon-checker:
    runs-on: ubuntu-latest
    name: Kodi addon checker
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
        cache: 'pip'
    - name: Install checker
      run: pip install kodi-addon-checker
    - name: Run checker push
      run: kodi-addon-checker --branch matrix
      if: ${{ github.event_name != 'pull_request' }}
    - name: Run checker PR
      run: kodi-addon-checker --branch matrix --PR
      if: ${{ github.event_name == 'pull_request' }}
