name: Create release with ZIP
on:
  workflow_run:
    workflows: [Kodi Addon-Check]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event_name != 'pull_request' }} # Run if tests went ok and not a pull request
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Get Version
        id: version
        uses: howbout-ltd/get-xml-info@master
        with:
          xml-file: "addon.xml"
          xpath: "//addon/@version"
      - name: Get changelog
        id: changelog
        uses: howbout-ltd/get-xml-info@master
        with:
          xml-file: "addon.xml"
          xpath: "//addon/extension[2]/news"
      - name: Archive Release
        uses: thedoctor0/zip-release@0.7.5
        with:
          type: 'zip'
          path: 'plugin.video.filmin'
          directory: '..'
          filename: 'filmin-kodi-release.zip'
          exclusions: '*.git* .editorconfig tools'
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "../filmin-kodi-release.zip"
          artifactContentType: application/zip
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: v${{ steps.version.outputs.info }}
          body: ${{ steps.changelog.outputs.info }}
          skipIfReleaseExists: true
